/*Global*/

hr { border: 1px solid #F2F2F2; }

li                    { margin-bottom: 15px; }
li.dim:hover          { opacity: .5; }
.brown                { color: #B09F67; }
.hover-brown:hover    { color: #B09F67; color: #FFFFFF; }
.fieldy-font          { font-family: "futura-pt", helvetica neue, helvetica, sans-serif; }

#logo {
  height: 18px;
  margin-top: 15px;
  padding-left: 3px;
}


/*Home*/

#selections {
  width: 100% !important;
}

.selection {
  border-radius: 5px;
}


/*Wallpapers*/

.wallpaper-thumbnail {
  width: 128px;
  height: 128px;
}

@media only screen and (min-width: 60em) {
  .rotate {
    font-size: 12px;
    margin-left: -60px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}


.b--brown { border-top: 10px solid #a0824f; }
.bg-brown { background-color: #a0824f; }
