#logo {
  height: 18px;
  margin-top: 20px;
  padding-left: 3px;
}

#selections {
  width: 100% !important;
}

.selection {
  min-height: 380px;
  border-radius: 5px;
}


/*Wallpapers*/

.wallpaper-thumbnail {
  width: 128px;
  height: 128px;
}

@media only screen and (max-width: 40em) {
  .wallpaper-thumbnail {
    display: none;
  }
}


/*Additions*/

.b--brown { border-top: 10px solid #a0824f; }
